<?php
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/sdk')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'yoda_style' => false,
        'ordered_class_elements' => true,
    ])
    ->setFinder($finder)
;
